.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# local config
.idea/libraries/Gradle__android_android_27.xml
.idea/workspace.xml
SER-401-Team-12.iml
app/app.iml
local.properties

.idea/libraries/Gradle__com_android_support_support_fragment_27_1_1.xml
